<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feature">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.feature.detail.title">Feature</span> {{ feature.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.numberBedrooms">Number Bedrooms</span></dt>
                <dd>
                    <span>{{ feature.numberBedrooms }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.numberBathroom">Number Bathroom</span></dt>
                <dd>
                    <span>{{ feature.numberBathroom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.fullKitchen">Full Kitchen</span></dt>
                <dd>
                    <span>{{ feature.fullKitchen }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.elevator">Elevator</span></dt>
                <dd>
                    <span>{{ feature.elevator }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.parking">Parking</span></dt>
                <dd>
                    <span>{{ feature.parking }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.airConditionair">Air Conditionair</span></dt>
                <dd>
                    <span>{{ feature.airConditionair }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.backyard">Backyard</span></dt>
                <dd>
                    <span>{{ feature.backyard }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.pool">Pool</span></dt>
                <dd>
                    <span>{{ feature.pool }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.m2">M 2</span></dt>
                <dd>
                    <span>{{ feature.m2 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.feature.advertisment">Advertisment</span></dt>
                <dd>
                    <div *ngIf="feature.advertisment">
                        <a [routerLink]="['/advertisment', feature.advertisment?.id, 'view']">{{ feature.advertisment?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feature', feature.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
